#### Question 1.	Python program to find smallest number in a list

In [1]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Smallest number is {}'.format(min(lst)))

Enter values in list: 1 4 6 3 -3
Smallest number is -3

#### Question 2.	Python program to find largest number in a list

In [2]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Largest number is {}'.format(max(lst)))

Enter values in list: 45 87 -98 56 23
Largest number is 87

#### Question 3.	Python program to find second largest number in a list

In [5]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

second_largest = sorted(lst, reverse =True)[1]
print('Second largest number is {}'.format(second_largest))

Enter values in list: 32 43 65 86 43 23
Second largest number is 65

#### Question 4.	Python program to find N largest elements from a list

In [6]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))
n = int(input('Enter the value of N: '))

n_largest = sorted(lst, reverse =True)[n-1]
print('{} largest number is {}'.format(n, n_largest))

Enter values in list: 34 75 21 45 32 67 89 43
Enter the value of N: 4
4 largest number is 45

#### Question 5.	Python program to print even numbers in a list

In [9]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Even numbers :', end=' ')
for i in lst:
  if i%2==0:
    print(i, end=' ')

Enter values in list: 34 56 44 56 77 67 23 45
Even numbers : 34 56 44 56

#### Question 6.	Python program to print odd numbers in a List

In [10]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Odd numbers :', end=' ')
for i in lst:
  if i%2 != 0:
    print(i, end=' ')

Enter values in list: 23 56 43 56 89 443 56
Odd numbers : 23 43 89 443

#### Question 7.	Python program to print all even numbers in a range

In [11]:
r1,r2 = map(int, input('Enter range values : ').strip().split(' '))

print('Even numbers :', end=' ')
for i in range(r1 , r2+1):
  if i%2 == 0:
    print(i, end=' ')

Enter range values : 3 8
Even numbers : 4 6 8

#### Question 8.	Python program to print all odd numbers in a range

In [12]:
r1,r2 = map(int, input('Enter range values : ').strip().split(' '))

print('Odd numbers :', end=' ')
for i in range(r1 , r2+1):
  if i%2 != 0:
    print(i, end=' ')

Enter range values : 22 30
Odd numbers : 23 25 27 29

#### Question 9.	Python program to print positive numbers in a list

In [22]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Positive numbers : {}'.format([x for x in lst if x>0]))

Enter values in list: 4 -2 0 1 -4 -5 3
Positive numbers : [4, 1, 3]

#### Question 10.	Python program to print negative numbers in a list

In [23]:
lst = list(map(int, input('Enter values in list: ').strip().split(" ")))

print('Positive numbers : {}'.format([x for x in lst if x<0]))

Enter values in list: 3 6 -2 -4 3 -7 0 1
Positive numbers : [-2, -4, -7]

#### Question 11.	Python program to print all positive numbers in a range

In [24]:
r1,r2 = map(int, input('Enter range values : ').strip().split(' '))

print('Positive numbers : {}'.format([x for x in range(r1,r2+1) if x>0]))

Enter range values : -10 5
Positive numbers : [1, 2, 3, 4, 5]